<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction.dao.ItemDAO">
	<select id="selectItemList" resultType="Item">
		select * from item
	</select>
	<select id="selectItem" resultType="Item">
		select * from item where it_num = #{it_num}
	</select>
	<select id="getNowAuctionItemList" resultType="Item">
		select * from item where it_auction_now = 1
	</select>
	<insert id="insertItem">
		insert into item(it_name, it_start_price, it_winning_bid)
		values(#{item.it_name}, #{item.it_start_price}, #{item.it_winning_bid})
	</insert>
	<update id="updateAuctionNow">
		update item set it_auction_now = 1 where it_num = #{item.it_num};
	</update>
</mapper>